%button {
    padding: 7px 20px;
    border-radius: 5px;
    word-wrap: break-word;
    border-width: 1px;
    font-size: 1rem;
    white-space: normal;
    cursor: pointer;
    outline: none;
}

%button:first-letter{
    text-transform: capitalize
}

%button--big {
    transition: 0.3s background-color ease-in-out,  0.3s color ease-in-out;
    max-width: 210px;
    min-width: 210px;
    min-height: 68px;
    text-transform: uppercase;
}

.button {
    @extend %button;
    min-width: 150px;
    max-width: 300px;
    background-color: #2768a7;
    color: #fff;
    border-color: #2768a7;
    font-weight: bold;   
}

.button-header {
    @extend %button;
    min-width: 150px;
    max-width: 300px;
    background-color: #2768a7;
    color: #fff;
    border-color: #2768a7;
    font-weight: normal;   
}

.button-header-secondary {
    @extend %button;
    min-width: 150px;
    max-width: 300px;
    background-color: #fff;
    color: #2768a7;
    border-color: #2768a7;
    font-weight: normal; 
    user-select: text;
    cursor: auto;
}

.button-secondary {
    @extend %button;
    @extend %button--big;
    background-color: transparent;
    color: #2768a7;
    border-color: #2768a7;
}
@media (max-width: 769px) {
    .button-secondary {
        max-width: 150px;
        min-width: 150px;
        padding: 2px 5px;
    }
}

.button-big {
    @extend %button;
    @extend %button--big;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #2768a7;
    color: #fff;
    border-color: #2768a7;
}

@media (max-width: 769px) {
    .button-big {
        max-width: 150px;
        min-width: 150px;
    }
}

.button-big:hover {
    background-color: #095592;
    color: #fff;
}

.button-back {
    @extend %button;
    @extend %button--big;
    text-transform: uppercase;
    background-color: #2768a7;
    color: #fff;
    border-color: #2768a7;
}

.button-secondary:hover {
    background-color: #2768a7;
    color: #fff;
}

.button--disabled {
    background-color: #868e96;
    border-color: #868e96;
    cursor: not-allowed;
}

.button:focus {
    outline:0;
}
